<div class="hero__container">
  <div class="hero__left">
    <h5>Hello I'm</h5>
    <h1>Muhammad Yousaf</h1>
    <h5>Fullstack Developer</h5>
    <p>
      We are here to make you reach your customers easily and effectively. How
      can this be done without your own business website?. Yes, We'll provide
      you with a high-performance, and attractive website for your business, So
      what are you waiting for?
    </p>
    <a href="/">Contact Us</a>
  </div>
  <div class="hero__right">
    <img src="../../../assets/me3.png" alt="" />
  </div>
</div>
